<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiendaTrabajo</title>

    <style>
        :root {
          --white: #FFFFFF;
          --black: #000000;
          --very-light-pink: #C7C7C7;
          --text-input-field: #F7F7F7;
          --hospital-green: #216A2A;
          --sm: 14px;
          --md: 18px;
          --lg: 20px;
        }
        body {
          margin: 0;
          font-family: 'Quicksand', sans-serif;
        }
        nav {
          display: flex;
          justify-content: space-between;
          padding: 0 24px;
          border-bottom: 1px solid var(--very-light-pink);
        }
        nav a {
             display: flex;
        }
        .menu {
          display: none;
        }
        .logo {
          width: 150px;
        }
        .navbar-left ul,
        .navbar-right ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          height: 60px;
        }
        .navbar-left {
          display: flex;
        }
        .navbar-left ul {
          margin-left: 12px;
        }
        .navbar-left ul li a,
        .navbar-right ul li a {
          text-decoration: none;
          color: var(--very-light-pink);
          border: 1px solid var(--white);
          padding: 8px;
          border-radius: 8px;
          font-size: var(--md);
        }
        .navbar-left ul li a:hover,
        .navbar-right ul li a:hover {
          border: 1px solid var(--hospital-green);
          color: var(--hospital-green);
        }
        .navbar-email {
          color: var(--very-light-pink);
          font-size: var(--md);
          margin-right: 12px;
        }
        .navbar-shopping-cart ul {
            display: none;
            list-style: none;
            margin: 0px 0px 0px -14px;
            padding: 10px;
            position: absolute;
            width: 130px;
            text-align: right;
            background-color: var(--color-primary);
            border-radius: 10px;
        }


        .navbar-shopping-cart {
          position: relative;
        }
        .navbar-shopping-cart div {
          width: 16px;
          height: 16px;
          background-color: var(--hospital-green);
          border-radius: 50%;
          font-size: var(--sm);
          font-weight: bold;
          position: absolute;
          top: -6px;
          right: -3px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .container a {
          text-decoration: none;
          color: var(--very-light-pink);
          border: 1px solid var(--white);
          padding: 8px;
          border-radius: 8px;
        }
        .container a:hover {
          border: 1px solid var(--hospital-green);
          color: var(--hospital-green);
        }
    </style>
</head>
<body>
    <header>
        <nav>
            @*<a asp-area="" asp-controller="Home" asp-action="Index">*@
                <img src="~/front/icons/icon_menu.svg" alt="menu" class="menu" >
            @*</a>*@
            

            <div class="navbar-left">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/front/logos/logo_yard_sale.svg" alt="logo" class="logo">
                </a>

              <ul>
                <li>
                  <a asp-area="" asp-controller="Home" asp-action="Productos">Todo</a>
                </li>
                <li>
                  <a href="/">Calzados</a>
                </li>
                <li>
                  <a href="/">Blusas</a>
                </li>
                <li>
                  <a href="/">Faldas</a>
                </li>
                <li>
                  <a href="/">Perfumes</a>
                </li>
                <li>
                  <a href="/">Otros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" asp-area="Administrador" asp-controller="Home" asp-action="Index">Admin</a>
                </li>
              </ul>
            </div>

            <div class="navbar-right">
              <ul>
                <li class="navbar-email">mail@example.com</li>
                <li class="navbar-shopping-cart">
                    <a asp-area="" asp-controller="Home" asp-action="Carrito">
                        <img src="~/front/icons/icon_shopping_cart.svg" alt="shopping cart">
                    </a>
                    <div>2</div>
                    <ul>
                        
                        <li><a href="/">Mi Cuenta</a></li>
                        <li><a href="./login.html" onclick=handleLogout()>Cerrar Sesión</a></li>
                    </ul>
                    
                </li>
              </ul>
            </div>
        </nav>
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Administrador" asp-controller="Home" asp-action="Index">Admin</a>
                        </li>*@
                    
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TiendaTrabajo - Todos los Derechos Reservados - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
